@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #343a40;
    color: #343a40;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    border-width: 5px;
    border-color: #bde0fe;
    border-style: dashed;
}
.circle:nth-child(1) {
    -webkit-animation: circle 10s ease-in-out -0.2s infinite both;
    animation: circle 10s ease-in-out -0.2s infinite both;
    z-index: 1;
}
.circle:nth-child(2) {
    -webkit-animation: circle 10s ease-in-out -1s infinite both;
    animation: circle 10s ease-in-out -1s infinite both;
    z-index: 1;
}
.circle:nth-child(3) {
    -webkit-animation: circle 10s ease-in-out -2s infinite both;
    animation: circle 10s ease-in-out -2s infinite both;
    z-index: 1;
}
.circle:nth-child(4) {
    -webkit-animation: circle 10s ease-in-out -3s infinite both;
    animation: circle 10s ease-in-out -3s infinite both;
    z-index: 1;
}
.circle:nth-child(5) {
    -webkit-animation: circle 10s ease-in-out -4s infinite both;
    animation: circle 10s ease-in-out -4s infinite both;
    z-index: 1;
}
.circle:nth-child(6) {
    -webkit-animation: circle 10s ease-in-out -5s infinite both;
    animation: circle 10s ease-in-out -5s infinite both;
    z-index: 1;
}
.circle:nth-child(7) {
    -webkit-animation: circle 10s ease-in-out -6s infinite both;
    animation: circle 10s ease-in-out -6s infinite both;
    z-index: 1;
}
.circle:nth-child(8) {
    -webkit-animation: circle 10s ease-in-out -7s infinite both;
    animation: circle 10s ease-in-out -7s infinite both;
    z-index: 1;
}
.circle:nth-child(9) {
    -webkit-animation: circle 10s ease-in-out -8s infinite both;
    animation: circle 10s ease-in-out -8s infinite both;
    z-index: 1;
}
.circle:nth-child(10) {
    -webkit-animation: circle 10s ease-in-out -9s infinite both;
    animation: circle 10s ease-in-out -9s infinite both;
    z-index: 1;
}
@keyframes circle {
    0% {
        transform: scale(0) translate(-200px, -200px);
        opacity: 0.5;
        border-color: #bde0fe;
    }
    100% {
        transform: scale(3.5) translate(0, 0);
        opacity: 1;
        border-color: #ffc8dd;
    }
}
