body, html {
	height: 100%;
	width: 100%;
	margin: 0;
  }

.iceland, .forest {
    display: flex;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;


    justify-content: center;
    align-items: center;
}
.iceland{
    background: linear-gradient(to top, #b4e9fd 0%,white 100%);
}
.forest{
    background: linear-gradient(to top, #1c7031 0%,#51e075 100%);
}
.nav{
    position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: #222222;
	box-shadow: inset 0.2em -.2em  #111111;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next{
    align-self: flex-end;
}
.next::after{
    content: "";    
    width: 0;
	height: 0;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-top: 1.5em solid white;
}
.prev{
    align-self: flex-start;
}
.prev::after{
    content: "";    
    width: 0;
	height: 0;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1.5em solid white;
}

.penguin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.penguin-head{
    position: relative;
    z-index: 2;
    top: -10em;
    left: 8.5em;
    height: 8em;
    width: 7em;
    background: #222222;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.penguin-eye-left{
    position: relative;
    height: 2em;
    width: 1em;
    background: #66abda;
    border-radius: 50%;
}
.penguin-eye-left::after{
    content: "";
    position: absolute;
    height: 1em;
    width: 0.5em;
    background: white;
    border-radius: 50%;
}

.penguin-eye-right{
    position: relative;
    height: 2em;
    width: 1em;
    background: #66abda;
    border-radius: 50%;
}
.penguin-eye-right::after{
    content: "";
    position: absolute;
    height: 1em;
    width: 0.5em;
    background: white;
    border-radius: 50%;
}

.penguin-peak{
    position: relative;
    width: 0;
	height: 0;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-top: 2em solid #fdbe60;
    
    top: 2em;    
}

.penguin-body{
    z-index: 1;
    height: 18em;
    width: 10em;
    background: #222222;
    border-radius: 50% 50% 25% 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.penguin-belly{
    position: absolute;
    height: 18em;
    width: 6em;
    background: white;
    border-radius: 50%;
}

.penguin-wing-left{
    position: relative;
    height: 12em;
    width: 4em;
    left: -3em;
    background: #222222;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(10deg);
}


.penguin-wing-right{
    z-index: -1;
    position: relative;
    height: 12em;
    width: 4em;
    left: 3em;
    background: #222222;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-10deg);
}

.penguin-foot-left{
    position: relative;
    width: 1.5em;
	height: 1.5em;
    border-radius: 50%;
    top: 10.5em;
    left: -8em;
	background: #fdbe60;
    transform: rotate(15deg);   
}

.penguin-foot-left::before{
    content: "";
    position: absolute;
    height: 3em;
    width: 2em;
    top: -1.5em;
    left: 0.1em;
    border-radius: 0 0 50% 50%;
    background: #fdbe60;
    transform: rotate(-45deg);
}
.penguin-foot-left::after{
    content: "";
    position: absolute;
    height: 3em;
    width: 2em;
    top: -1.5em;
    left: -0.7em;
    border-radius: 0 0 50% 50%;
    background: #fdbe60;
    transform: rotate(45deg);
}

.penguin-foot-right{
    position: relative;
    width: 1.5em;
	height: 1.5em;
    border-radius: 50%;
    top: 10.5em;
    left: -5em;
	background: #fdbe60;
    transform: rotate(-15deg);   
}

.penguin-foot-right::before{
    content: "";
    position: absolute;
    height: 3em;
    width: 2em;
    top: -1.5em;
    left: 0.1em;
    border-radius: 0 0 50% 50%;
    background: #fdbe60;
    transform: rotate(-45deg);
}
.penguin-foot-right::after{
    content: "";
    position: absolute;
    height: 3em;
    width: 2em;
    top: -1.5em;
    left: -0.7em;
    border-radius: 0 0 50% 50%;
    background: #fdbe60;
    transform: rotate(45deg);
}
.koala{
    display: flex;
    flex-flow: nowrap row;
}
.koala-face, .koala-ears{
    background: #888888;
}
.koala-face{
    z-index: 2;
    height: 25em;
    width: 25em;
    border-radius: 25% 25% 40% 40%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}
.koala-ears{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
    width: 20em;
    border-radius: 50%;
    position: relative;
    top: -4em;
}

.koala-ears::after{
    content: "";
    height: 15em;
    width: 15em;
    border-radius: 50%;
    background: white;
}
.koala-left-ear{
    left: 8em;
}
.koala-right-ear{
    left: -8em;
}
.koala-eyes{
    height: 5em;
    width: 5em;
    background: black;
    border-radius: 50%;
    margin: 1em;
}
.koala-eyes::after{
    content: "";
    display: block;
    height: 2em;
    width: 2em;
    background: white;
    border-radius: 50%;
    top: 0.5em;
    left: 0.5em;
    position: relative;
}

.koala-nose{
    height: 10em;
    width: 6em;
    background: black;
    border-radius: 3em;
    top: 2em;
    position: relative;
}

