body, html {
	height: 100%;
	width: 100%;
	margin: 0;
  }

 .background {
    display: flex;
	width: 100vw;
	height: 100%;
	min-height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;

	background-image:  linear-gradient(135deg, #f74545 25%, transparent 25%), linear-gradient(225deg, #f74545 25%, transparent 25%), linear-gradient(45deg, #f74545 25%, transparent 25%), linear-gradient(315deg, #f74545 25%, #ffffff 25%);
	background-position:  40px 0, 40px 0, 0 0, 0 0;
	background-size: 40px 40px;
	background-repeat: repeat;

	justify-content: center;
	align-items: center;
  }
  
.basket{
	flex-wrap: wrap;
	opacity: 1;
}

.fruit{
	font-size: 1.2rem;
	width: 8rem;
	height: 8rem;
	margin: 1rem;
	position: relative;
	display: inline-block;
}

.orange {
	width: 5em;
	height: 5em;
	border-radius: 50%;
	background-color: #fa6b0c;
	box-shadow: inset 0.2em -.2em  #a84605;
	position: absolute;
	top:0.9em;
	left: 0.3em;
}

.orange:before {
	content: "";
	position: absolute;
	top: -1em;
	left: 3em;
	height: 0;
	width: 0;
	border: 1em solid #36861e;
	border-radius: 50% 0 50% 0;
}
.orange:after {
	content: "";
	position: absolute;
	top: -1.4em;
	left: 3.9em;
	transform: rotate(45deg);
	height: 2.8em;
	width: 0.1em;
	background-color: #192c07;
	border-radius: 50%;
}

.apple{
	width: 6em;
	height: 5em;
	background: linear-gradient(to right, #8fdb2b 0%,#abec55 100%);
	box-shadow: inset 0.2em -0.2em  #6eaa1f;
	border-radius: 2em 2em 3em 3em;
	position:absolute;
	top: 1em;
	left:0.3em;
}
.apple::after{
	content: "";
	position: absolute;
	width: 0.2em;
	height: 1.5em;
	background-color: #311d11;
	left: 3em;
	top: -1em;
	border-radius:  0 0 15% 15%;
}

.banana-light{
	width: 6em;
	height: 6em;
	background-color: transparent;
	box-shadow: -1em 1em 0 0  #ffdc40;
	border-radius: 50%;
	top: -1.5em;
	left: 1.5em;
	position: absolute;
}
.banana-dark{
	width: 6em;
	height: 6em;
	background-color: transparent;
	box-shadow: -1em 1em 0 0  #f0cb28;
	border-radius: 50%;
	top: -1em;
	left: 1em;
	position: absolute;
}
.banana-dark::before{
	content: "";
	position: absolute;
	width: 0.5em;
	height: 1em;
	background-color: #abc05f;
	transform: rotate(45deg);
	top: 0.7em;
	left: 0.5em;
	border-radius: 10% 10% 25% 25%;
}
.banana-dark::after{
	content: "";
	position: absolute;
	width: 0.5em;
	height: 0.5em;
	background-color: #72532a;
	transform: rotate(45deg);
	top: 5em;
	left: 4.5em;
	border-radius: 25%;
}

.cherry-left{
	width: 3em;
	height: 2.5em;
	background: linear-gradient(to right, #b91f2c 0%,#e43a48 100%);
	box-shadow: inset 0.2em -0.2em  #941721;
	border-radius: 2em 2em 3em 3em;
	position:absolute;
	top: 3em;
	transform: rotate(25deg);
}

.cherry-left::before{
	content: "";
	width: 1em;
	height: 3em;
	background-color: transparent;
	box-shadow: -0.25em 0.25em 0 0  #36861e;
	border-radius: 50%;
	top: -3em;
	left: 1em;
	position: absolute;
}

.cherry-right{
	width: 3em;
	height: 2.5em;
	background: linear-gradient(to right, #b91f2c 0%,#e43a48 100%);
	box-shadow: inset 0.2em -0.2em  #941721;
	border-radius: 2em 2em 3em 3em;
	position:absolute;
	top: 3em;
	left:3.5em;
	transform: rotate(-25deg);

}

.cherry-right::before{
	content: "";
	width: 1em;
	height: 3em;
	background-color: transparent;
	box-shadow: -0.25em 0.25em 0 0  #36861e;
	border-radius: 50%;
	top: -3em;
	left: 1em;
	position: absolute;
}

.cherry-tail{
	position: absolute;
	width: 1em;
	height: 0.5em;
	background-color: #72532a;
	transform: rotate(45deg);
	top: 0.5em;
	left: 2.5em;
	border-radius: 25%;
}