* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body,
html {
  height: 100%;
  width: 100%;
}
body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #f8f9fa;
}
.main--title,
.card--title {
  font-family: "Spectral";
  color: #f8f9fa;
  font-weight: 700;
}
a {
  font-family: "Karla";
  color: #e9ecef;
  font-weight: 500;
  font-size: 18px;
}
.background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: nowrap column;
  width: 100vw;
  height: fit-content;
  min-height: 100%;
  /* min-height: 100%; */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(to right, #bde0fe, #ffc8dd);
}
.fadeLeft {
  opacity: 0;
  animation: FadeLeft 1s cubic-bezier(0.94, -0.01, 1, 1) !important;
}
.fadeUp {
  opacity: 0;
  animation: FadeUp 1s cubic-bezier(0.94, -0.01, 1, 1) !important;
  /* animation: ComeFromTop 1s ease-in-out reverse !important; */
}
.blinky{
  transition: 1s;
  background: #ffc8dd;
  animation: bg-blink 2s ease-in-out 2s infinite;
}
.main--title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343a40;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 8px 12px 0px rgba(19, 22, 26, 0.5);
  margin-bottom: 25px;
  animation: ComeFromTop 1s ease-in-out;
  font-size: 24px;
}
.heart,
.heart::before,
.heart::after {
  width: 20px;
  height: 20px;
  background: linear-gradient(to right, #bde0fe, #ffc8dd);
  transition: 1s;
}
.heart::before,
.heart::after {
  position: absolute;
  content: "";
  border-radius: 50%;
}
.heart {
  transform: rotate(-45deg);
  margin: 20px;
  z-index: 1;
}
.heart:hover {
  background: transparent;
  opacity: 0.8;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  border: solid #ffc8dd 1px;
}
.heart::before {
  left: 10px;
}
.heart::after {
  top: -10px;
}
.heart:hover::before,
.heart:hover::after {
  top: 5px;
  left: 5px;
}

.main--title:hover .heart {
  animation: Beat 2s ease-in-out infinite;
}
.container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
  animation: ComeFromLeft 2s ease-in-out;
}
.theme--card {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* flex-flow: nowrap column; */
  min-width: 300px;
  width: 90%;
  max-width: 350px;
  height: 450px;
  background: #343a40;
  border-radius: 20px;
  box-shadow: 0px 8px 12px 0px rgba(19, 22, 26, 0.5);
  margin: 10px 25px;
  overflow: hidden;
  animation: FadeIn 2s ease-in-out;
}
.card--title {
  width: 250px;
  display: flex;
  justify-content: left;
  align-items: center;
  animation: ComeFromLeft 2s ease-out;
  font-size: 18px;
  margin: 20px;
}
.card--title::after {
  content: "";
  position: absolute;
  transform: translateY(20px);
  width: 250px;
  height: 2px;
  background: linear-gradient(to left, #bde0fe, #ffc8dd);
  animation: ScaleUp 3s ease-in-out;
}
.card--links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 250px;
}
a {
  text-decoration: underline;
  outline: 1;
  color: #f8f9fa;
  margin: 10px;
  transform: translateX(15px);
  font-size: 14px;
  animation: FadeIn 4s ease-in-out;
}
a::before {
  content: "";
  transition: 1s;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: solid white 1px;
  transform: translate(-20px, 2px) rotate(45deg);
}
a:hover {
  background: linear-gradient(to right, #bde0fe, #ffc8dd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
a:hover::before {
  background: linear-gradient(225deg, #bde0fe, #ffc8dd);
  animation: Floaty 2s ease-in-out infinite;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    width: 100%;
    height: 100%;
  }
}
@keyframes ComeFromTop {
  from {
    transform: translateY(-125px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes ComeFromLeft {
  0%,
  50% {
    transform: translateY(-300vw);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes FadeIn {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ComeFromLeft {
  0%,
  50% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ScaleUp {
  0%,
  66% {
    width: 0px;
  }
  100% {
    width: 250px;
  }
}
@keyframes Floaty {
  0% {
    transform: translate(-20px, 2px) rotate(45deg);
  }

  50% {
    transform: translate(-40px, 2px) rotate(45deg) scale(1.5);
  }

  100% {
    transform: translate(-20px, 2px) rotate(45deg);
  }
}
@keyframes Beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(1.5) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}
@keyframes FadeLeft {
  0% {
    opacity: 1;
    transform: none;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}
@keyframes FadeUp {
  0% {
    opacity: 1;
    transform: none;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-125px);
  }
}
@keyframes bg-blink {
  0% {
    background:  #ffc8dd;
  }
  50% {
    background: #bde0fe;
  }
  100% {
    background: #ffc8dd;
  }
}
