@import url(https://fonts.google.com/specimen/Inter);
.card--today, .card--followers, .card--value, .card--at, .full--card, .primary--social-container, .header--mode, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100%;
  font-family: "Inter";
  font-weight: 400;
  transition: 1s;
}

header {
  position: absolute;
  height: 25%;
  width: 100%;
  border-radius: 0 0 25px 25px;
  transition: 1s;
}

.header--container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  height: 60%;
}

.header--text {
  display: flex;
  flex-flow: column;
  font-weight: 700;
}

.header--title {
  font-size: 30px;
}

.header--mode {
  align-self: flex-start;
  font-weight: 700;
}

.header--mode * {
  margin: 0 10px;
}

.button--togle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  padding: 5px;
  transition: 2s;
}

.button--togle::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: 1s;
}

.button--togle:hover {
  cursor: pointer;
}

.main--container {
  position: absolute;
  margin-top: 10%;
  width: 80%;
  height: 80%;
}

.primary--social-container {
  justify-content: space-between;
  width: 100%;
  min-height: 200px;
  flex-flow: wrap;
}

.full--card {
  width: 250px;
  height: 200px;
  flex-flow: column;
  border-radius: 5px;
  margin: 10px;
  transition: 0.5s;
}

.full--card::after {
  content: "";
  position: relative;
  top: -175px;
  width: 250px;
  height: 5px;
  border-radius: 5px 5px 0 0;
}

.full--card:nth-of-type(1)::after {
  background: #198ff5;
}

.full--card:nth-of-type(2)::after {
  background: #1ca0f2;
}

.full--card:nth-of-type(3)::after {
  background: linear-gradient(to right, #fdc468, #df4996);
}

.full--card:nth-of-type(4)::after {
  background: #c4032a;
}

.card--at {
  width: 100%;
  margin-bottom: 10px;
}

.card--at * {
  margin: 0 10px;
}

.card--value {
  width: 100%;
  font-size: 60px;
  font-weight: 700;
}

.card--followers {
  width: 100%;
  letter-spacing: 5px;
}

.card--today {
  width: 100%;
  margin-top: 10px;
}

.overview--container {
  margin-top: 70px;
}

.overview--title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.mini--card--container {
  display: grid;
  width: 100%;
  gap: 0 max;
  grid-template: 1fr 1fr/repeat(4, 270px);
  justify-content: space-between;
}

.mini--card {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px 0;
  grid-template: 1fr 1fr/1fr 1fr;
  height: 100px;
  border-radius: 5px;
  margin: 10px;
  padding: 0 25px;
  width: 200px;
  transition: 0.5s;
}

.mini--card--label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
}

.mini--card--value {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 30px;
}

.mini--card--icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mini--card--today {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.today--plus,
.today--moins {
  font-weight: 700;
}

.today--plus::before,
.today--moins::before {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  margin-right: 5px;
}

.today--plus {
  color: #1db489;
}

.today--plus::before {
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-bottom: 0.5em solid #1db489;
}

.today--moins {
  color: #dc414c;
}

.today--moins::before {
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-top: 0.5em solid #dc414c;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1050px) {
  .header--container {
    flex-flow: column;
    width: 90%;
    height: 70%;
  }

  .header--title {
    font-size: 25px;
  }

  .header--mode {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .main--container {
    position: relative;
    margin-top: 250px;
    width: 90%;
    height: auto;
  }

  .primary--social-container {
    justify-content: center;
  }

  .overview--container {
    margin-top: 35px;
  }

  .overview--title {
    font-size: 20px;
  }

  .mini--card--container {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }
}
@keyframes Light-to-Dark {
  0% {
    justify-content: flex-end;
  }
  100% {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
