@import url(https://fonts.googleapis.com/css?family=popins:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #343A40;
  color: #f8f9fa;
	font-family: 'Popins', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn{
	position: relative;
	width: 150px;
	height: 50px;
	border: none;
	cursor: pointer;
  color: #f8f9fa;
	border-radius: 10px;
	font-weight: 700;
	font-size: 24px;
	transition: all 1s ease-in-out;
}
.btn:before, .btn:after  {
	position: absolute;	
	content: "Hover";
  transform: translate(-5px,-5px);
	background: #bde0fe;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .25s ease-in-out;
}
.btn:after {
	content: "";
	z-index: 1;
  transform: translate(5px,5px);
	background: #ffc8dd;
}
.btn:hover:before{
  transform: translate(5px,5px);
	background: #ffc8dd;
	
}
.btn:hover:after{
  transform: translate(-5px,-5px);	
	background: #bde0fe;
}
