@import url(https://fonts.googleapis.com/css?family=popins:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #343A40;
  color: #333;
	font-family: 'Popins', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shape{
	position: absolute;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border: 1px solid #ffc8dd;
}
.shape:nth-child(1){
	animation: shape-1 2s ease-in-out infinite;
}
.shape:nth-child(2){
	animation: shape-2 2s ease-in-out infinite;
}
.shape:nth-child(3){
	animation: shape-3 2s ease-in-out infinite;
}
.shape:nth-child(4){
	animation: shape-4 2s ease-in-out infinite;
}
.shape:nth-child(5){
	animation: shape-5 2s ease-in-out infinite;
}
.shape:nth-child(6){
	animation: shape-6 2s ease-in-out infinite;
}
.shape:nth-child(7){
	animation: shape-7 2s ease-in-out infinite;
}
.shape:nth-child(8){
	animation: shape-8 2s ease-in-out infinite;
}
.shape:nth-child(9){
	animation: shape-9 2s ease-in-out infinite;
}
@keyframes shape-1 {
	25%{
		transform: rotate(200deg);
		height: 50px;		
		border-radius: 50%;
		border: 1px solid #bde0fe;		
	}
}
@keyframes shape-2 {
	25%{
		transform: rotate(220deg);
		height: 50px;		
		border-radius: 50%;
		border: 1px solid #bde0fe;		
	}
}
@keyframes shape-3 {
	25%{
		transform: rotate(240deg);
		height: 50px;		
		border-radius: 50%;
		border: 1px solid #bde0fe;		
	}
}
@keyframes shape-4 {
	25%{
		transform: rotate(260deg);
		height: 50px;		
		border-radius: 50%;
		border: 1px solid #bde0fe;		
	}
}
@keyframes shape-5 {
	25%{
		transform: rotate(280deg);
		height: 50px;		
		border-radius: 50%;
		border: 1px solid #bde0fe;		
	}
}
@keyframes shape-6 {
	25%{
		transform: rotate(300deg);
		height: 50px;		
		border-radius: 50%;
		border: 1px solid #bde0fe;		
	}
}
@keyframes shape-7 {
	25%{
		transform: rotate(320deg);
		height: 50px;		
		border-radius: 50%;
		border: 1px solid #bde0fe;		
	}
}
@keyframes shape-8 {
	25%{
		transform: rotate(340deg);
		height: 50px;		
		border-radius: 50%;
		border: 1px solid #bde0fe;		
	}
}
@keyframes shape-9 {
	25%{
		transform: rotate(360deg);
		height: 50px;		
		border-radius: 50%;
		border: 1px solid #bde0fe;		
	}
}

