.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
      background: #343A40;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .center {
      z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .slidecontainer{
      z-index: 99;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 30px;
      border-radius: 5px;
      background: #495057;
      box-shadow: 0 8px 12px 0 #13161A50;
      transform: rotate(90deg);
  }
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 10px;
      border-radius: 10px;
    background: linear-gradient(to right, #BDE0FE 0%, #FFC8DD 100%);
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slidecontainer:hover .slider{
    opacity: 1;	
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
      border-radius: 50%;
    background: #F8F9FA;
    cursor: pointer;
      box-shadow: 0 8px 12px 0 #13161A50;	
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
      border-radius: 50%;
    background: #F8F9FA;
    cursor: pointer;
      box-shadow: 0 8px 12px 0 #13161A50;
  }
  .slidecontainer:hover .slider::-webkit-slider-thumb{
      width: 25px;
    height: 25px;
  }
  .slidecontainer:hover .slider::-moz-range-thumb{
      width: 25px;
    height: 25px;
  }
  .wave{
      z-index: 3;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #33566F;
      transform: translatey(50%);
  }
  .wave > div{
      position: absolute;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background: #33566F;
  }
  .wavy-1{	
      transform: translatey(-25px) translatex(-100px);
      animation: wavy-1 5s ease-in-out infinite alternate;
  }
  .wavy-2{	
      transform: translatey(-25px) translatex(200px);
      animation: wavy-2 6s ease-in-out infinite alternate;
  }
  .wavy-3{	
      transform: translatey(-25px) translatex(-100px);
      animation: wavy-1 4s ease-in-out infinite alternate-reverse;
  }
  .wavy-4{	
      transform: translatey(-25px) translatex(200px);
      animation: wavy-2 5s ease-in-out infinite alternate-reverse;
  }
  .wavy-5{	
      transform: translatey(-25px) translatex(200px);
      animation: wavy-5 6s ease-in-out infinite alternate;
  }
  .wavy-6{	
      transform: translatey(-25px) translatex(200px);
      animation: wavy-6 4s ease-in-out infinite alternate;
  }
  @keyframes wavy-1{
      0%{
          transform: translatey(-25px) translatex(-100px);
      }
      50%{
          transform: translatey(-12px) translatex(100px);
      }
      100%{
          transform: translatey(-25px) translatex(300px);
      }
  }
  @keyframes wavy-2{
      0%{
          transform: translatey(-25px) translatex(200px);
      }
      50%{
          transform: translatey(-12px) translatex(100px);
      }
      100%{
          transform: translatey(-25px) translatex(0px);
      }
  }
  @keyframes wavy-5{
      0%{
          transform: translatey(-25px) translatex(200px);
      }
      50%{
          transform: translatey(-12px) translatex(50px);
      }
      100%{
          transform: translatey(-25px) translatex(-100px);
      }
  }
  @keyframes wavy-6{
      0%{
          transform: translatey(-25px) translatex(0px);
      }
      50%{
          transform: translatey(-12px) translatex(150px);
      }
      100%{
          transform: translatey(-25px) translatex(300px);
      }
  }