
// Primary

$primary-blue: hsl(237, 18%, 59%);
$primary-red: hsl(345, 95%, 68%);

// Neutral

$white: hsl(0, 0%, 100%);
$dark : hsl(237, 20%, 22%);
$darker : hsl(236, 21%, 26%);
$very-dark: hsl(235, 16%, 14%);
$absolutely-dark: hsl(234, 17%, 12%);