
// Primary

$primary-blue: hsl(237, 18%, 59%);
$primary-red: hsl(345, 95%, 68%);

// Neutral

$white: hsl(0, 0%, 100%);
$darker : hsl(237, 22%, 19%);
$dark : hsl(237, 20%, 22%);
$dark-lighter : hsl(236, 21%, 26%);
$dark-lightest : hsl(235, 18%, 29%);
$very-dark: hsl(235, 16%, 14%);
$absolutely-dark: hsl(234, 17%, 12%);

//Icon

$icon: #8385A9;